/* ==========================================================================
   Typography
========================================================================== */
@mixin typography() {
	.mx-text {
		&.iconUxt {
			font-family: $siemensFontRegular !important;

			&:before {
				font-size: 128%;
				font-style: normal;
				font-weight: normal;
				text-decoration: none;
				margin-right: 4px;
				position: relative;
				top: 2px;
				display: inline-block;
			}
		}
	}

	label {
		&.iconUxt {
			font-family: $siemensFontRegular !important;

			&:before {
				font-size: 128%;
				font-style: normal;
				font-weight: normal;
				text-decoration: none;
				margin-right: 4px;
				position: relative;
				top: 2px;
				display: inline-block;
			}
		}
	}

	h1,
	.h1,
	.h1>* {
		font-weight: 900;
		line-height: 2.6875rem;
		margin-bottom: 1.25rem !important;
		margin-top: 0;
	}

	h2,
	.h2,
	.h2>* {
		font-weight: bold;
		line-height: 2.6875rem;
		margin-bottom: 0.5rem !important;
		margin-top: 0;
	}

	h3,
	.h3,
	.h3>* {
		font-weight: normal;
		line-height: 2.25rem;
		margin-bottom: 0.5rem !important;
		margin-top: 0;
	}

	h4,
	.h4,
	.h4>* {
		font-weight: normal;
		line-height: 1.8125rem;
		margin-bottom: 0.25rem !important;
		margin-top: 0;
	}

	h5,
	.h5,
	.h5>* {
		font-weight: normal;
		line-height: 1.4375rem;
		margin-bottom: 0.25rem !important;
		margin-top: 0;
	}

	h6,
	.h6,
	.h6>* {
		font-weight: normal;
		line-height: 1.375rem;
		margin-bottom: 0.25rem !important;
		margin-top: 0;
	}
}